@charset "utf-8";
/* CSS Document */

/*div {
	min-width:960px;
	min-height:900px;
	align-content:center;
}*/

.top_viewer
{
	background-color:#582099;
	max-height:50px;
	min-width:960px;
	height:50;
	font-family:"맑은 고딕";
	font-size:30px;
	color:white;
	border-bottom: 5px solid #9f9f9f;
}

.top_viewer_left
{
	text-align:left;
	min-width:310px;
}

.top_viewer_right
{
	text-align:left;
	min-width:650px;
}

.left_viewer_top
{
	min-height:300px;
	border-right:5px solid #9f9f9f;
	border-bottom:5px solid #9f9f9f;
	min-width:310px;
}

.left_viewer_bottom
{
	min-height:384px;
	border-right:5px solid #9f9f9f;
	border-bottom:5px solid #9f9f9f;
	min-width:310px;
}

.center_viewer_right
{
	border-bottom:5px solid #9f9f9f;
}

.bottom_left
{
	
}

.bottom_right
{
}